.result__cards-container {
  display: grid;
  width: 100%;
  gap: 32px;
  grid-template-columns: repeat(4, minmax(224px, 400px));
  margin: 64px auto;
  justify-content: center;

}

@media (min-width: 1920px) {
  .result__cards-container {
    grid-template-columns: repeat(auto-fill, minmax(224px, 400px));
  }
}

@media (max-width: 1441px) {
  .result__cards-container {
    gap: 16px;
    grid-template-columns: repeat(3, minmax(224px, 400px));
  }
}

@media (max-width: 769px) {
  .result__cards-container {
    gap: 8px;
    grid-template-columns: repeat(3, minmax(224px, 400px));
    margin: 40px auto;
  }
}

@media (max-width: 721px) {
  .result__cards-container {
    grid-template-columns: repeat(2, minmax(224px, 400px));
  }
}

@media (max-width: 500px) {
  .result__cards-container {
    grid-template-columns: repeat(1, minmax(224px, 400px));
    margin: 32px auto;
  }
}
