
@import url(./__header/history__header.css);
@import url(./__title/history__title.css);
@import url(./__button/history__button.css);
@import url(./__link/history__link.css);

.history {
display: flex;
flex-direction: column;
background: #F5F6F7;

}