.search__from-input {
  background: #ffffff;

  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);

  border-radius: 100px;
  max-width: 100%;
  width: 100%;

  min-height: 64px;
}



.search__from-input::placeholder {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
padding-left: 22px;

color: #B6BCBF;
}