.search__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  text-align: left;

  color: #ffffff;
  max-width: 385px;
  margin: 0 0 32px;
}
