@import url(./__title/analytic-data__title.css);
@import url(./__request/analytic-data__request.css);
@import url(./__list/analytic-data__list.css);

@import url(./__result/analytic-data__result.css);

.analytics-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 80px;
}

@media (max-width: 769px) {
  .analytics-data {
    margin: 0 auto 40px;
  }
}

@media (max-width: 340px) {
  .analytics-data {
    margin: 0 auto 24px;
  }
}
