.header__nav-link_active_ligth {
  color: #000;

  position: relative;

}


.header__nav-link_active_ligth:before {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 68px;
  background: #000;

  left: 0;
  top: 48px;
}