.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-item:last-of-type {
  margin: 0;
}


@media (max-width: 769px) {
  .footer__nav-item {
    margin-right: 25px;
  }
}


@media (max-width: 700px) {
  .footer__nav-item {
    margin-right: 15px;
  }
}

@media (max-width: 410px) {
  .footer__nav-item {
    margin-bottom: 22px;
  }
}