@import url(./__content/result__content.css);
@import url(./__preloader/result__preloader.css);
@import url(./__preloader-circle/result__preloader-circle.css);
@import url(./__preloader-message/result__preloader-message.css);
@import url(./__preloader/_hide/result__preloader_hide.css);
@import url(./__not-found/result__not-found.css);
@import url(./__not-found-image/result__not-found-image.css);
@import url(./__not-found-accent/result__not-found-accent.css);
@import url(./__not-found-message/result__not-found-message.css);
@import url(./__not-found/_hide/result__not-found_hide.css);
@import url(./__cards/result__cards.css);
@import url(./__cards-header/result__cards-header.css);
@import url(./__cards-container/result__cards-container.css);
@import url(./__cards-title/result__cards-title.css);
@import url(./__cards-button/result__cards-button.css);
@import url(./__cards-link/result__cards-link.css);
@import url(./__cards/_hide/result__cards_hide.css);
@import url(./__content/_hide/result__content_hide.css);
@import url(./__error/result__error.css);
@import url(./__error/_hide/result__error_hide.css);
@import url(./__error-accent/result__error-accent.css);
@import url(./__error-image/result__error-image.css);
@import url(./__error-message/result__error-message.css);

.result {
  background: #f5f6f7;
  display: flex;
  flex-direction: column;


  text-align: center;
  margin: 0 auto;
}
