.history__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 80px auto 64px;
}

@media (max-width: 769px) {
  .history__header {
    margin: 40px auto 32px;
  }
}

@media (max-width: 440px) {
  .history__header {
    margin: 32px auto 12px;
  }
}
