.result__not-found-accent {
  font-family: Roboto Slab, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  text-align: center;

  color: #1a1b22;
  margin: 0 auto 16px;
}
