.history__button {
  display: none;
  border: 1px solid #000;
  background-color: #F5F6F7;;

}

@media (max-width: 440px) {
  .history__button {
    display: flex;
    margin: 0 auto 32px;
  }
}


.history__button:hover {
  background-color: #fff;
}