@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/dist/fonts/Roboto.woff2) format("woff2"),
    url(/dist/fonts/Roboto.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(/dist/fonts/Robotomedium.woff2) format("woff2"),
    url(/dist/fonts/Robotomedium.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(/dist/fonts/Robotobold.woff2) format("woff2"),
    url(/dist/fonts/Robotobold.woff) format("woff");
}
@font-face {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
  src: url(/dist/fonts/Robotoslabregular.woff2) format("woff2"),
    url(/dist/fonts/Robotoslabregular.woff) format("woff");
}
@font-face {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 700;
  src: url(/dist/fonts/Robotoslabbold.woff2) format("woff2"),
    url(/dist/fonts/Robotoslabbold.woff) format("woff");
}
@font-face {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  src: url(/dist/fonts/sourcesanspro-regular.woff) format("woff");
}
.page {
  color: #1a1b22;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  position: relative;
}
.header__content {
  margin: 0 auto;
}
.header__content,
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  margin: 0;
}
.header__nav-links {
  list-style: none;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}
@media (max-width: 420px) {
  .header__nav-links {
    font-size: 16px;
    line-height: 24px;
  }
}
.header__nav-item {
  margin-right: 34px;
}
.header__nav-item:last-of-type {
  margin-right: 0;
}
@media (max-width: 420px) {
  .header__nav-item {
    margin-right: 11px;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #b6bcbf;
  transition-duration: 1s;
}
.header__nav-link:hover {
  color: #fff;
}
@media (max-width: 420px) {
  .header__logo {
    width: 117px;
    padding-top: 5px;
  }
}
.header__nav-link_active_light {
  color: #fff;
  transition-duration: 1s;
  position: relative;
}
.header__nav-link_active_light:before {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 68px;
  background: #fff;
  left: 0;
  top: 48px;
  transition-duration: 1s;
}
@media (max-width: 768px) {
  .header__nav-link_active_light:before {
    top: 40px;
  }
}
@media (max-width: 320px) {
  .header__nav-link_active_light:before {
    top: 35px;
  }
}
.header__nav-link_active_light:hover:before {
  color: #b6bcbf;
  background: #b6bcbf;
}
.header__nav-link_active_light:hover {
  color: #b6bcbf;
}
.header__nav-link_active_dark {
  color: #000;
  position: relative;
}
.header__nav-link_active_dark:before {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: #000;
  left: 0;
  top: 48px;
}
@media (max-width: 768px) {
  .header__nav-link_active_dark:before {
    top: 40px;
  }
}
@media (max-width: 320px) {
  .header__nav-link_active_dark:before {
    top: 35px;
  }
}
.header__nav-link_active_dark:hover:before {
  color: #b6bcbf;
  background: #b6bcbf;
}
.header__nav-link_active_dark:hover {
  color: #b6bcbf;
}
.header.header_theme_light {
  box-shadow: inset 0 -1px 0 #d1d2d6;
  position: inherit;
}
.header__nav-link_theme_light:hover {
  color: #1a1b22;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  background: hsla(0, 0%, 76.9%, 0.01);
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.2);
  min-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .header {
    min-height: 64px;
  }
}
@media (max-width: 320px) {
  .header {
    min-height: 56px;
  }
}
.search__content {
  margin: 160px auto 80px;
  max-width: 608px;
}
@media (max-width: 769px) {
  .search__content {
    margin: 104px auto 48px;
    max-width: 454px;
  }
}
@media (max-width: 500px) {
  .search__content {
    margin: 86px 16px 32px;
    max-width: 454px;
  }
}
.search__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  text-align: left;
  color: #fff;
  max-width: 385px;
  margin: 0 0 32px;
}
@media (max-width: 769px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 420px) {
  .search__title {
    margin: 0 0 16px;
  }
}
.search__text {
  color: #fff;
  margin: 0 0 64px;
}
@media (max-width: 420px) {
  .search__text {
    margin: 0 0 64px;
  }
}
.search__form {
  position: relative;
}
@media (max-width: 500px) {
  .search__form {
    margin-bottom: 16px;
  }
}
.search__from-input {
  background: #fff;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  border-radius: 100px;
  max-width: 100%;
  width: 100%;
  padding-left: 20px;
  min-height: 64px;
  outline: none;
  color: #b6bcbf;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.search__from-input:focus {
  color: #1a1b22;
  border: 1px solid #64ebfd;
}
@media (max-width: 769px) {
  .search__from-input {
    min-height: 56px;
  }
}
@media (max-width: 500px) {
  .search__from-input {
    margin-bottom: 16px;
  }
}
.search__form-submit {
  background: #2f71e5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  position: absolute;
  left: 441px;
  width: 168px;
  min-height: 64px;
  border-width: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.5s;
}
.search__form-submit:hover {
  background: #347eff;
}
.search__form-submit:active {
  background: #2a65cc;
}
@media (max-width: 769px) {
  .search__form-submit {
    width: 160px;
    min-height: 56px;
    position: absolute;
    left: 303px;
  }
}
@media (max-width: 500px) {
  .search__form-submit {
    max-width: 100%;
    width: 100%;
    min-height: 56px;
    position: static;
  }
}
.search {
  background-image: url(/dist/images/search-background.png);
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
}
.author__content {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  align-items: center;
}
@media (max-width: 769px) {
  .author__content {
    margin: 40px auto 48px;
  }
}
@media (max-width: 500px) {
  .author__content {
    flex-wrap: wrap;
    margin: 32px auto;
  }
}
.author__photo {
  border-radius: 100%;
  margin-right: 56px;
  max-width: 464px;
  max-height: 464px;
  flex-shrink: 1;
  transition-duration: 1s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .author__photo {
    margin-right: 32px;
  }
}
@media (max-width: 420px) {
  .author__photo {
    margin: 0 0 24px;
  }
}
.author__photo:hover {
  opacity: 0.9;
}
.author__about {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  flex-shrink: 2;
}
@media (max-width: 769px) {
  .author__about {
    margin: 0;
  }
}
@media (max-width: 420px) {
  .author__about {
    text-align: left;
  }
}
.author__title {
  margin: 0 0 24px;
}
.author__text {
  max-width: 600px;
}
.author__paragraph {
  margin: 0 0 20px;
}
.author__paragraph:last-of-type {
  margin: 0;
}
@media (max-width: 769px) {
  .author__paragraph {
    margin: 0;
  }
}
.author {
  display: flex;
  justify-content: space-between;
}
.result__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto;
}
@media (max-width: 769px) {
  .result__content {
    margin: 40px auto;
  }
}
@media (max-width: 500px) {
  .result__content {
    margin: 32px auto 44px;
  }
}
.result__preloader {
  margin: 20px auto;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.result__preloader-circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid;
  border-color: #444 #444 #888;
  border-radius: 50%;
  -webkit-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
  margin: auto auto 24px;
}
.result__preloader-message {
  color: #b6bcbf;
  margin: 0;
}
.result__not-found {
  display: none;
}
.result__not-found-image {
  margin-bottom: 24px;
}
.result__not-found-accent {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1a1b22;
  margin: 0 auto 16px;
}
.result__not-found-message {
  color: #b6bcbf;
  margin: 0 auto;
  max-width: 340px;
}
.result__cards {
  display: flex;
  flex-direction: column;
}
.result__cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .result__cards-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.result__cards-container {
  display: grid;
  width: 100%;
  gap: 32px;
  grid-template-columns: repeat(4, minmax(224px, 400px));
  margin: 64px auto;
  justify-content: center;
}
@media (min-width: 1920px) {
  .result__cards-container {
    grid-template-columns: repeat(auto-fill, minmax(224px, 400px));
  }
}
@media (max-width: 1441px) {
  .result__cards-container {
    gap: 16px;
    grid-template-columns: repeat(3, minmax(224px, 400px));
  }
}
@media (max-width: 769px) {
  .result__cards-container {
    gap: 8px;
    grid-template-columns: repeat(3, minmax(224px, 400px));
    margin: 40px auto;
  }
}
@media (max-width: 721px) {
  .result__cards-container {
    grid-template-columns: repeat(2, minmax(224px, 400px));
  }
}
@media (max-width: 500px) {
  .result__cards-container {
    grid-template-columns: repeat(1, minmax(224px, 400px));
    margin: 32px auto;
  }
}
.result__cards-title {
  margin: 0;
}
.result__cards-button {
  display: flex;
  margin: 0 auto;
}
.result,
.result__cards-link {
  display: flex;
}
.result {
  background: #f5f6f7;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
@media (max-width: 769px) {
  .footer__content {
    margin: 21px auto;
  }
}
@media (max-width: 700px) {
  .footer__content {
    margin: 21px auto;
    flex-wrap: wrap;
  }
}
.footer__copyright {
  font-size: 16px;
  text-decoration: none;
  color: #b6bcbf;
  transition-duration: 1s;
}
@media (max-width: 700px) {
  .footer__copyright {
    order: 3;
  }
}
.footer__copyright:hover {
  color: #1a1b22;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}
@media (max-width: 700px) {
  .footer__nav {
    order: 1;
    margin-bottom: 40px;
  }
}
@media (max-width: 410px) {
  .footer__nav {
    order: 1;
    margin-bottom: 40px;
    margin-right: 33px;
  }
}
.footer__nav-links {
  padding: 0;
  display: flex;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: #1a1b22;
}
@media (max-width: 700px) {
  .footer__nav-links {
    font-size: 16px;
  }
}
@media (max-width: 410px) {
  .footer__nav-links {
    font-size: 18px;
    flex-direction: column;
  }
}
.footer__nav-item {
  margin-right: 40px;
}
.footer__nav-item:last-of-type {
  margin: 0;
}
@media (max-width: 769px) {
  .footer__nav-item {
    margin-right: 25px;
  }
}
@media (max-width: 700px) {
  .footer__nav-item {
    margin-right: 15px;
  }
}
@media (max-width: 410px) {
  .footer__nav-item {
    margin-bottom: 40px;
  }
}
.footer__nav-link {
  text-decoration: none;
  color: #1a1b22;
  transition-duration: 1s;
}
.footer__nav-link:hover {
  color: #b6bcbf;
}
.footer__socials {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 700px) {
  .footer__socials {
    order: 2;
    margin-bottom: 40px;
    margin-right: 16px;
  }
}
@media (max-width: 500px) {
  .footer__socials {
    margin-right: 0;
  }
}
.footer__social {
  margin-right: 24px;
}
.footer__social:last-of-type {
  margin: 0;
}
.footer__social-icon {
  transition-duration: 1s;
}
.footer__social-icon:hover {
  transform: scale(1.2);
}
.result-card__image {
  width: 100%;
}
.result-card__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: left;
  padding: 20px 24px 24px;
  height: 100%;
}
@media (max-width: 769px) {
  .result-card__desc {
    padding: 16px;
  }
}
.result-card__date {
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  margin: 0 0 12px;
  color: #b6bcbf;
}
@media (max-width: 420px) {
  .result-card__date {
    margin: 0 0 15px;
  }
}
.result-card__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 16px;
}
@media (max-width: 900px) {
  .result-card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;
  }
}
@media (max-width: 420px) {
  .result-card__title {
    line-height: 26px;
  }
}
.result-card__link {
  text-decoration: none;
  color: #1a1b22;
}
.result-card__text {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 18px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}
@media (max-width: 500px) {
  .result-card__text {
    margin: 0 0 5px;
    -webkit-line-clamp: 3;
  }
}
.result-card__origin {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
.result-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(14, 26, 57, 0.1);
  transition-duration: 1s;
}
.result-card:hover {
  transform: translateY(10px);
  box-shadow: 0 3px 10px rgba(14, 26, 57, 0.3);
}
.section-container {
  max-width: 85.76%;
  width: 100%;
}
@media (max-width: 769px) {
  .section-container {
    max-width: 89.58%;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .section-container {
    max-width: 92.38%;
    width: 100%;
  }
}
@media (max-width: 321px) {
  .section-container {
    max-width: 90%;
    width: 100%;
  }
}
.section-title {
  font-family: Roboto Slab, Times New Roman, Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}
@media (max-width: 769px) {
  .section-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .section-title {
    line-height: 34px;
    margin-bottom: 16px;
  }
}
@media (max-width: 340px) {
  .section-title {
    max-width: 200px;
    text-align: left;
  }
}
.section-link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  color: #1a1b22;
  text-decoration: none;
  transition-duration: 1s;
}
.section-link:after {
  content: "";
  background-image: url(/dist/images/arrow.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: 5px 0 0 8px;
}
.section-link:hover {
  transform: translateX(10px);
  opacity: 0.4;
}
.section-button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-width: 0;
  color: #1a1b22;
  background-color: #fff;
  width: 288px;
  height: 64px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(14, 26, 57, 0.1);
  transition-duration: 0.5s;
  outline: none;
}
.section-button:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 3px 10px rgba(14, 26, 57, 0.3);
}
.section-button:active {
  background-color: #d3d3d3;
  color: #fff;
}
@media (max-width: 769px) {
  .section-button {
    width: 240px;
    height: 56px;
  }
}
@media (max-width: 440px) {
  .section-button {
    width: 288px;
    height: 56px;
  }
}
